body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: dosis;
  color: #344750;
  background-color: #f1f3f6;
}
.fullpage {
  background-color: #f1f3f6;
  margin-left: 17%;
}

.sidebar {
  background: white;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 17%;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.tomiddle {
  text-align: center;
}

.userpicContainer {
  text-align: center;
  position: relative;
  display: inline-block;
}

.userpicContainer img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: relative;
}

.fonticon {
  z-index: 20;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.13);
}

.fontawsome {
  color: #989393;
}

.sitetitle {
  font-weight: 560;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.subiconSelected {
  color: #ff782d;
  font-size: 14px;
}

.subtextSelected {
  font-family: "Dosis";
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: #ff782d;
}

.firstlist {
  padding: 15px 0 15px 10%;
  position: relative;
  background-color: white !important;
}

.firstlist::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #ff782d;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 3px 0px 12px 0px #ff782d;
  -moz-box-shadow: 3px 0px 12px 0px #ff782d;
  box-shadow: 3px 0px 12px 0px #ff782d;
}

.firstlist:focus {
  background-color: white !important;
}

.commandeHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #bec3c7b4;
  align-items: baseline;
}

.headerTitle2 {
  margin: 4px 0 15px 60px;
  color: #636f75;
  font-weight: 450;
  font-size: 16px;
  text-transform: capitalize;
}

.simulationHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.simulationPrice {
  padding-left: 50px;
}

.simulerOptionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 10%;
}

.simulerOptionsTitle {
  font-size: 20px;
  font-weight: 420;
}

.simulationModelImage {
  margin: 15px;
  width: 50%;
}

.simulerModelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 35px 0;
}

.simulationModelName {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  border-top: 0.1px solid #c3c9cc;
}

.simulerColorsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 10%;
}

.colorSimulation {
  margin: 10px;
}

.carSimulation {
  text-align: center;
  position: relative;
  height: 170px;
}

.circleSimulation {
  position: absolute;
  border-left: 0.5px solid #636f75;
  border-right: 0.5px solid #636f75;
  border-bottom: 0.5px solid #636f75;
  width: 350px;
  height: 50px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 22%;
  z-index: 1;
}

.carSvg {
  enable-background: new 0 0 98.967 98.967;
  width: 300px;
  height: 300px;
  z-index: 22;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -50%;
}

.verifierSimulation {
  background-color: #ff782d;
}

.validerContainerSimulation {
  width: 100%;
  text-align: center;
}
